body { }
a { color: green; }
ul li { border-bottom:1px solid #606060; min-height:80px; }
ul li cite { background:#eee; padding:5px;  }
ul li p.result { background:#000; padding:5px; color: green; }
ul li p.result dl dd { text-indent:10px; }