/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;    
}

a:hover { text-decoration: underline; }

body {
    text-align: center;
    background: #002b36;
}

#header { 
    width:94%; 
    padding:10px 2%; 
    height: 45px;    
}

#header h1 { 
    font-size: 40px;
    color: #fff333;
}

#wrapper { 
    margin:10px auto; 
    width:94%; 
    padding:0px 2% 10px; 
    border:2px solid #000;
    text-align: left; 
    background: #657b83; 
    min-height: 450px;
}

#score-board {
    height: 70px;
    margin: 0 auto 30px;
    text-align: center;
}

#score-board ul {
    margin: 0 auto;
    height: 70px;
    width: 64%;    
}

#score-board ul li {
    float: left;
    border-right: 1px solid #333;
    border-bottom: 2px solid #333;
    width: 9%;
    height: 70px;
    overflow: hidden;    
    position: relative;
    background: #000;
}

#score-board ul li.leftmost {
    border-left: 2px solid #333;    
}

#score-board ul li.rightmost {
    width: 11%;
    border-right: 2px solid #333;    
}

#score-board ul li ul.chances {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 0px;
    width: 84%;
    height: 32px;
}

#score-board ul li ul.chances li {
    width: 46%;
    height: 32px;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 0px;
    float: right;
}

#left-side {
    float: left;
    width: 60%;
    height: 300px;
    border-right: 1px dashed #333;
}

#left-side #playground {
    margin-top: 5px;
    border: 2px solid #333;
    width: 92%;
    padding: 10px 2%;
    height: 270px;
    background: #fff;
}

#left-side #playground h2 {
    font-size: 48px;
    color: #666;
    text-align: center;
    padding: 20px;
}

#left-side #playground ul#notes {    
    margin: 20px auto;
    width: 90%;
    height: 30px;
}

#left-side #playground ul#notes li {
    margin-right: 12px;
    float: left;
    padding: 10px;
    font-size: 18px;
    width: 18px;
    border: 1px solid #333;
    text-align: center;
    margin-bottom: 10px;
    background: #FFF333;
    cursor: pointer;
}

#left-side #playground #buttons {
    clear: both;
    width: 90%;
    height: 40px;
    text-align: center;
    margin: 45px auto 20px;
}

#left-side #playground #buttons a {
    margin-right: 20px;
    cursor: pointer;
}

#right-side {
    float: right;
    width: 38%;
    height: 300px;
}

#right-side ul#chord-list {
    float: left;
    width: 25%;
    margin: 5px 20px 5px 10px;
    height: 290px;
    border: 2px solid #333;
    background: #fff;
}

#right-side ul#chord-list li {
    padding: 5px;
    border-bottom: 1px solid #eee;    
}

#right-side ul#chord-list li a.correct {
    color: green;
}

#right-side ul#chord-list li a.wrong {
    color: orange;
}

#right-side #answers {
    width: 55%;
    margin: 5px 20px 5px 10px;
    height: 290px;
    border: 2px solid #333;
    background: #fff;
    float: left;
}